.get-help-container {
    text-align: center !important;
}

.get-help-container .rotate-container {
    max-width: 500px !important;
}

.get-help-container .rotate-container {
    margin: 0px auto;
    position: relative !important;
    left: 40%;
}

.get-help-container form {
    text-align: center;
}

.get-help-container input#name {
    width: 250px !important;
    border-radius: 30px;
    padding: 3px 10px 3px 10px;
    text-align: center;
}

.get-help-container input#Class {
    width: 100px !important;
    border-radius: 30px;
    padding: 3px 10px 3px 10px;
    text-align: center;
}

.get-help-container input#problem {
    width: 100px !important;
    border-radius: 30px;
    padding: 3px 10px 3px 10px;
    text-align: center;
}

.get-help-container input#needs {
    width: 100px !important;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    text-align: center;
}

.get-help-container input#city {
    width: 100px !important;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    text-align: center;
}

.get-help-container input#bloodGroup {
    width: 100px !important;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    text-align: center;
}

.get-help-container textarea {
    border-radius: 10px;
}

.bannertext {
    /* background: #f1f1f1; */
    margin: 20px;
    padding: 20px;
    position: relative;
    border-top: 2px solid crimson;
    /* width: 100vw !important; */
}

.bannertext h1 {
    font-family: Carter One;
}

.bannertext h2 {
    color: #5253e9;
}

.bannertext::after {
    content: "?";
    font-size: 12rem;
    color: crimson;
    z-index: -1;
    position: absolute;
    opacity: 0.9;
    top: -60px;
    right: 30%;
}

@media(max-width:1000px) {
    .bannertext::after {
        right: 20%;
    }
}

@media(max-width:700px) {
    .bannertext::after {
        right: 10%;
    }
}

@media(max-width:550px) {
    .bannertext::after {
        right: -10%;
    }
    .bannertext {
        /* background: #f1f1f1; */
        margin: 20px;
        padding: 20px;
        position: relative;
        border-top: 2px solid crimson;
        /* width: 100vw !important; */
    }
}

.get-help-container img.help {
    position: absolute;
    width: 400px;
    top: 70%;
    transform: rotate(-20deg);
    left: 50px;
    transition: 1s ease;
}

.get-help-container input#whatsapp,
input#phone,
input#email {
    width: 150px !important;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    text-align: center;
}

input#instagram {
    width: 100px !important;
    border-radius: 10px;
    padding: 3px 10px 3px 10px;
    text-align: center
}

.contact-details {
    flex-direction: column !important;
}

@media(max-width:768px) {
    .get-help-container .rotate-container {
        left: 0%;
    }
    .get-help-container img.help {
        position: relative;
        width: 70%;
        margin: 10px auto;
        transform: rotate(0deg);
        left: 10px;
    }
    .get-help-container form {
        padding: 10px;
    }
}